@charset "utf-8";


.main-container{
 width: 950px;
 height: 950px; 
 margin-top: 0px;
 margin-right: auto;
 margin-left: auto;
 background-color: #FFF;
 border: 1px solid black;
}

.topbar {
	width: 910px;
	height: 200px;
	float: left; 
	background: #edc871;
	margin: 5px;

}

.container {
	width: 600px;
	height: 600px;
	float: left; 
	margin: 5px;
	background: #96bbf7;
}

.outer {
	width: 400px;
	height: 400px;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
	background: #a9a2b2;
}

.inner {
	width: 200px;
	height: 200px;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
	background: #edc871;
}

.center {
	width: 100px;
	height: 100px;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	background: #f9df75;
}

.sidebar {
	width: 300px;
	height: 600px;
	float: left; 
	background: #647e96;
	margin: 5px;
}
